<a href="https://colab.research.google.com/github/momokaakiyama/cinema/blob/main/chapter5/colab/LDA_collaboration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/oreilly-japan/RecommenderSystems/blob/main/chapter5/colab/LDA_collaboration.ipynb)

# Latent Dirichlet Allocation (LDA)の行動データへの適用(協調フィルタリング)

In [20]:
# Colab用のnotebookです。このnotebook1枚でデータのダウンロードから、レコメンドまで完結するようになっています。（予測評価は含めていません。）
# MovieLensデータがまだダウンロードされてなければこのセルを実行して、ダウンロードしてください
# MovieLensデータの分析は、data_download.ipynbをご参照ください

#1 データのダウンロードと解凍
!wget -nc --no-check-certificate https://files.grouplens.org/datasets/movielens/ml-10m.zip -P ../data
!unzip -n ../data/ml-10m.zip -d ../data/

--2026-02-04 10:36:27--  https://files.grouplens.org/datasets/movielens/ml-10m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.96.204
Connecting to files.grouplens.org (files.grouplens.org)|128.101.96.204|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 65566137 (63M) [application/zip]
Saving to: ‘../data/ml-10m.zip’

ml-10m.zip          100%[===================>]  62.53M  62.2MB/s    in 1.0s

2026-02-04 10:36:29 (62.2 MB/s) - ‘../data/ml-10m.zip’ saved [65566137/65566137]

Archive:  ../data/ml-10m.zip
   creating: ../data/ml-10M100K/
  inflating: ../data/ml-10M100K/allbut.pl
  inflating: ../data/ml-10M100K/movies.dat
  inflating: ../data/ml-10M100K/ratings.dat
  inflating: ../data/ml-10M100K/README.html
  inflating: ../data/ml-10M100K/split_ratings.sh
  inflating: ../data/ml-10M100K/tags.dat

In [21]:
#2 Movielensのデータの読み込み（データ量が多いため、読み込みに時間がかかる場合があります）
import pandas as pd

# movieIDとタイトル名のみ使用
m_cols = ['movie_id', 'title', 'genre']
movies = pd.read_csv('../data/ml-10M100K/movies.dat', names=m_cols, sep='::' , encoding='latin-1', engine='python')

# genreをlist形式で保持する
movies['genre'] = movies.genre.apply(lambda x:x.split('|'))


# ユーザが付与した映画のタグ情報の読み込み
t_cols = ['user_id', 'movie_id', 'tag', 'timestamp']
user_tagged_movies = pd.read_csv('../data/ml-10M100K/tags.dat', names=t_cols, sep='::', engine='python')

# tagを小文字にする
user_tagged_movies['tag'] = user_tagged_movies['tag'].str.lower()


# tagを映画ごとにlist形式で保持する
movie_tags = user_tagged_movies.groupby('movie_id').agg({'tag':list})

# タグ情報を結合する
movies = movies.merge(movie_tags, on='movie_id', how='left')

# 評価値データの読み込み
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('../data/ml-10M100K/ratings.dat', names=r_cols, sep='::', engine='python')


# データ量が多いため、ユーザー数を1000に絞って、試していく
valid_user_ids = sorted(ratings.user_id.unique())[:1000]
ratings = ratings[ratings["user_id"].isin(valid_user_ids)]


# 映画のデータと評価のデータを結合する
movielens = ratings.merge(movies, on='movie_id')

print(f'unique_users={len(movielens.user_id.unique())}, unique_movies={len(movielens.movie_id.unique())}')

# 学習用とテスト用にデータを分割する
# 各ユーザの直近の５件の映画を評価用に使い、それ以外を学習用とする
# まずは、それぞれのユーザが評価した映画の順序を計算する
# 直近付与した映画から順番を付与していく(1始まり)

movielens['timestamp_rank'] = movielens.groupby(
    'user_id')['timestamp'].rank(ascending=False, method='first')
movielens_train = movielens[movielens['timestamp_rank'] > 5]
movielens_test = movielens[movielens['timestamp_rank']<= 5]

unique_users=1000, unique_movies=6736

In [22]:
#3 作成した自己映画評価データをpandasのデータフレームに変換する
import pandas as pd

user_ratings_df = pd.read_csv('/content/myselfdata.csv')

new_movielens_train = pd.concat([movielens_train, user_ratings_df], ignore_index=True)
display(new_movielens_train)

,user_id,movie_id,rating,timestamp,title,genre,tag,timestamp_rank
0,1,185,5.0,8.389835e+08,"Net, The (1995)","[Action, Crime, Thriller]","[computers, computers, internet, irwin winkler...",17.0
1,1,231,5.0,8.389834e+08,Dumb & Dumber (1994),[Comedy],"[jeff daniels, jim carrey, stupid, jim carrey,...",19.0
2,1,292,5.0,8.389834e+08,Outbreak (1995),"[Action, Drama, Sci-Fi, Thriller]","[biology, gross, disease, futuristmovies.com, ...",18.0
3,1,316,5.0,8.389834e+08,Stargate (1994),"[Action, Adventure, Sci-Fi]","[egypt, space, time travel, time travel, alien...",20.0
4,1,329,5.0,8.389834e+08,Star Trek: Generations (1994),"[Action, Adventure, Drama, Sci-Fi]","[far future, space, trekie, enterprise, futuri...",21.0
...,...,...,...,...,...,...,...,...
127849,-1,7,4.0,1.770030e+09,Sabrina (1995),"['Comedy', 'Romance']","['based on a play', 'greg kinnear', 'remake', ...",20.0
127850,-1,902,5.0,1.770030e+09,Breakfast at Tiffany's (1961),"['Drama', 'Romance']","['classic', 'capote', '1960s', 'apartment', 'b...",21.0
127851,-1,3462,3.5,1.770030e+09,Modern Times (1936),"['Comedy', 'Romance']","['black and white', 'close to perfect', 'facto...",22.0
127852,-1,741,1.5,1.770030e+09,Ghost in the Shell (KÃ´kaku kidÃ´tai) (1995),"['Animation', 'Sci-Fi']","['anime', 'anime', 'complex', 'japan', 'techno...",23.0
127853,-1,26662,5.0,1.770030e+09,Kiki's Delivery Service (Majo no takkyÃ»bin) (...,"['Adventure', 'Animation', 'Children', 'Comedy...","['anime', 'miyazaki', 'anime', 'miyazaki', 'an...",24.0

In [23]:
#4 LDAの学習に必要なパラメタを定義
# 因子数
factors = 50
# エポック数
n_epochs = 30

In [24]:
#5 ColabのPythonにgensimをインストールする
!pip install gensim

Collecting gensim
  Downloading gensim-4.4.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (8.4 kB)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.12/dist-packages (from gensim) (2.0.2)
Requirement already satisfied: scipy>=1.7.0 in /usr/local/lib/python3.12/dist-packages (from gensim) (1.16.3)
Requirement already satisfied: smart_open>=1.8.1 in /usr/local/lib/python3.12/dist-packages (from gensim) (7.5.0)
Requirement already satisfied: wrapt in /usr/local/lib/python3.12/dist-packages (from smart_open>=1.8.1->gensim) (2.0.1)
Downloading gensim-4.4.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (27.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.9/27.9 MB 57.1 MB/s eta 0:00:00
Installing collected packages: gensim
Successfully installed gensim-4.4.0

In [25]:
from gensim.corpora.dictionary import Dictionary

#6 LDAのインプットに使うデータの作成
lda_data = []
movielens_train_high_rating = new_movielens_train[new_movielens_train.rating >= 4]
for user_id, data in movielens_train_high_rating.groupby("user_id"):
    lda_data.append(data["movie_id"].apply(str).tolist())

common_dictionary = Dictionary(lda_data)
common_corpus = [common_dictionary.doc2bow(text) for text in lda_data]

In [26]:
import gensim

#7 LDAの学習（潜在トピックを洗い出す）
lda_model = gensim.models.LdaModel(
    common_corpus, id2word=common_dictionary, num_topics=factors, passes=n_epochs
)

In [27]:
#8 各ユーザーの潜在トピックが格納される
lda_topics = lda_model[common_corpus]

# 例: とあるユーザーの潜在トピック
lda_topics[0]

[(14, np.float32(0.9299929))]

In [28]:
#(参考) topic0の映画一覧（LDAが見つけた潜在トピックを構成する映画を確認）
for token_id, score in lda_model.get_topic_terms(0, topn=10):
    movie_id = int(common_dictionary.id2token[token_id])
    title = movies[movies.movie_id == movie_id].title.tolist()[0]
    print(f'movie_id={movie_id}, title={title}, score={score}')

movie_id=2571, title=Matrix, The (1999), score=0.008022215217351913
movie_id=1610, title=Hunt for Red October, The (1990), score=0.007433346938341856
movie_id=1036, title=Die Hard (1988), score=0.0071189142763614655
movie_id=1586, title=G.I. Jane (1997), score=0.006547874305397272
movie_id=1721, title=Titanic (1997), score=0.006425275932997465
movie_id=2396, title=Shakespeare in Love (1998), score=0.006159632466733456
movie_id=3996, title=Crouching Tiger, Hidden Dragon (Wu hu zang long) (2000), score=0.006080332212150097
movie_id=457, title=Fugitive, The (1993), score=0.00607735151425004
movie_id=3101, title=Fatal Attraction (1987), score=0.00573378149420023
movie_id=3755, title=Perfect Storm, The (2000), score=0.005508119240403175

In [29]:
#(参考) スターウォーズ・エピーソード５(movie_id=1196）のトピック(各トピックの潜在確率)
lda_model[common_dictionary.doc2bow(["1196"])]

[(0, np.float32(0.010000055)),
 (1, np.float32(0.010000055)),
 (2, np.float32(0.010000055)),
 (3, np.float32(0.010000055)),
 (4, np.float32(0.010000055)),
 (5, np.float32(0.010000055)),
 (6, np.float32(0.010000055)),
 (7, np.float32(0.010000055)),
 (8, np.float32(0.010000055)),
 (9, np.float32(0.010000055)),
 (10, np.float32(0.010000055)),
 (11, np.float32(0.010000055)),
 (12, np.float32(0.010000055)),
 (13, np.float32(0.010000055)),
 (14, np.float32(0.010000055)),
 (15, np.float32(0.010000055)),
 (16, np.float32(0.010000055)),
 (17, np.float32(0.010000055)),
 (18, np.float32(0.010000055)),
 (19, np.float32(0.010000055)),
 (20, np.float32(0.010000055)),
 (21, np.float32(0.010000055)),
 (22, np.float32(0.010000055)),
 (23, np.float32(0.010000055)),
 (24, np.float32(0.010000055)),
 (25, np.float32(0.010000055)),
 (26, np.float32(0.010000055)),
 (27, np.float32(0.010000055)),
 (28, np.float32(0.010000055)),
 (29, np.float32(0.010000055)),
 (30, np.float32(0.010000055)),
 (31, np.float32(0.010000055)),
 (32, np.float32(0.010000055)),
 (33, np.float32(0.010000055)),
 (34, np.float32(0.010000055)),
 (35, np.float32(0.010000055)),
 (36, np.float32(0.010000055)),
 (37, np.float32(0.010000055)),
 (38, np.float32(0.010000055)),
 (39, np.float32(0.50999755)),
 (40, np.float32(0.010000055)),
 (41, np.float32(0.010000055)),
 (42, np.float32(0.010000055)),
 (43, np.float32(0.010000055)),
 (44, np.float32(0.010000055)),
 (45, np.float32(0.010000055)),
 (46, np.float32(0.010000055)),
 (47, np.float32(0.010000055)),
 (48, np.float32(0.010000055)),
 (49, np.float32(0.010000055))]

In [30]:
from collections import defaultdict

#9 各ユーザーにレコメンドリストの作成
# そのユーザーの最も確率の高い潜在トピックについて、そのトピックに属する映画を格納していく

user_evaluated_movies = new_movielens_train.groupby("user_id").agg({"movie_id": list})["movie_id"].to_dict()

pred_user2items = defaultdict(list)
for i, (user_id, data) in enumerate(movielens_train_high_rating.groupby("user_id")):
    evaluated_movie_ids = user_evaluated_movies[user_id]
    # ユーザーの潜在確率が一番高いトピックを取得
    user_topic = sorted(lda_topics[i], key=lambda x: -x[1])[0][0]
    # そのトピック内で、確率の高いアイテムを取得
    topic_movies = lda_model.get_topic_terms(user_topic, topn=len(movies))

    for token_id, score in topic_movies:
        movie_id = int(common_dictionary.id2token[token_id])
        if movie_id not in evaluated_movie_ids:
            pred_user2items[user_id].append(movie_id)
        if len(pred_user2items[user_id]) == 10:
            break

pred_user2items[-1]

[41863, 37733, 49272, 2987, 919, 40583, 1208, 2640, 3108, 4426]

In [31]:
#10 user_id=-1に推薦された映画の詳細データを抽出
movies[movies.movie_id.isin([1196, 1373, 260, 1240, 480, 1127, 1907, 2735, 1702, 8405])]

,movie_id,title,genre,tag
257,260,Star Wars: Episode IV - A New Hope (a.k.a. Sta...,"[Action, Adventure, Sci-Fi]","[desert, quotable, lucas, gfei own it, seen mo..."
476,480,Jurassic Park (1993),"[Action, Adventure, Sci-Fi, Thriller]","[based on a book, biology, michael crichton, s..."
1104,1127,"Abyss, The (1989)","[Action, Adventure, Sci-Fi, Thriller]","[aliens, ocean, submarine, dvd collection, to ..."
1171,1196,Star Wars: Episode V - The Empire Strikes Back...,"[Action, Adventure, Sci-Fi]","[lucas, george lucas, george lucas, gfei own i..."
1212,1240,"Terminator, The (1984)","[Action, Sci-Fi, Thriller]","[arnold schwarzenegger, sci-fi, time travel, d..."
1342,1373,Star Trek V: The Final Frontier (1989),"[Action, Sci-Fi]","[golden raspberry (worst actor), owned, based ..."
1643,1702,Flubber (1997),"[Children, Comedy, Fantasy]","[robin williams, absent-minded professor, robi..."
1823,1907,Mulan (1998),"[Adventure, Animation, Children, Comedy, Drama]","[2, fabulous, walt disney, disney, disney was ..."
2650,2735,"Golden Child, The (1986)","[Action, Adventure, Comedy, Fantasy, Mystery]",[don't remember]
7787,8405,Hour of the Wolf (Vargtimmen) (1968),"[Drama, Horror]","[who cares dvds, erlend's dvds, ingmar bergman..."

In [32]:
#(参考)上記user_id=-1の学習データで、4以上の評価を付けた映画一覧
movielens_train_high_rating[movielens_train_high_rating.user_id==-1]

,user_id,movie_id,rating,timestamp,title,genre,tag,timestamp_rank
127830,-1,4896,5.0,1.770030e+09,Harry Potter and the Sorcerer's Stone (a.k.a. ...,"['Adventure', 'Children', 'Fantasy']","['based on a book', 'franchise', 'adventure', ...",1.0
127831,-1,5816,5.0,1.770030e+09,Harry Potter and the Chamber of Secrets (2002),"['Adventure', 'Children', 'Fantasy']","['based on a book', 'franchise', 'harry potter...",2.0
127832,-1,8368,4.0,1.770030e+09,Harry Potter and the Prisoner of Azkaban (2004),"['Adventure', 'Children', 'Fantasy']","['based on a book', 'franchise', 'magic', 'har...",3.0
127833,-1,40815,4.5,1.770030e+09,Harry Potter and the Goblet of Fire (2005),"['Adventure', 'Fantasy', 'Thriller']","['based on a book', 'big budget', 'franchise',...",4.0
127836,-1,5618,5.0,1.770030e+09,Spirited Away (Sen to Chihiro no kamikakushi) ...,"['Adventure', 'Animation', 'Children', 'Fantasy']","['anime', ""holy christ it's fantastic in every...",7.0
127837,-1,1022,4.5,1.770030e+09,Cinderella (1950),"['Animation', 'Children', 'Fantasy', 'Musical'...","['disney', 'disney', 'library vhs', 'fairy tal...",8.0
127839,-1,63239,5.0,1.770030e+09,Cinderella (1997),"['Children', 'Fantasy', 'Musical', 'Romance']",NaN,10.0
127840,-1,594,4.0,1.770030e+09,Snow White and the Seven Dwarfs (1937),"['Animation', 'Children', 'Drama', 'Fantasy', ...","['disney', 'classic', 'disney', 'national film...",11.0
127844,-1,595,4.0,1.770030e+09,Beauty and the Beast (1991),"['Animation', 'Children', 'Fantasy', 'Musical'...","['fairy tale', 'disney', 'disney', 'disney', '...",15.0
127848,-1,916,5.0,1.770030e+09,Roman Holiday (1953),"['Comedy', 'Romance']","[""good in it's day"", 'classic', 'audrey hepbur...",19.0
127849,-1,7,4.0,1.770030e+09,Sabrina (1995),"['Comedy', 'Romance']","['based on a play', 'greg kinnear', 'remake', ...",20.0
127850,-1,902,5.0,1.770030e+09,Breakfast at Tiffany's (1961),"['Drama', 'Romance']","['classic', 'capote', '1960s', 'apartment', 'b...",21.0
127853,-1,26662,5.0,1.770030e+09,Kiki's Delivery Service (Majo no takkyÃ»bin) (...,"['Adventure', 'Animation', 'Children', 'Comedy...","['anime', 'miyazaki', 'anime', 'miyazaki', 'an...",24.0